@model ListDemo.Models.Detail

<div class="row">
    <div class="col">
        <h1>@Model.Header</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>@Model.Detail1</p>
        <p>@Model.Detail2</p>
    </div>
</div>
<div class="row">
    <div class="col">@Model.Description</div>
</div>